
h3{
    margin-top: 30px;
    text-align: left;
}

.Aufbauorganisation, .Ablauforganisation{
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(300px , auto));
    grid-template-rows: auto;
    background-color: rgba(76, 193, 174,0.75);
    padding: 20px ;
    border-radius: 10px;
    margin-bottom: 20px;

}

.beschreibung, figure{
 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.Aufbauorganisation img{
    width: 100%;
    
}

.Ablauforganisation img{
    
    width: 100%;
 
}

