body{
    background-color: #9e9d9d;
}

head{
    display: flex;
    flex-direction: column;
    
}

html{
  font-family: Campton-Book,sans-serif;
}

h1{
    text-align: center;
    color:rgb(76, 193, 174);
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: -50px;
    padding: 5px;
    position: fixed;
    width: 100%;
    overflow: hidden;

}

h2{
    padding: 50px;
    font-size: 2rem;
    text-align: center;
    color:white;
    margin-top: 50px;
    text-decoration: underline;
}

h3{
  font-size: 1.5rem;
  margin-top: 100px;
  text-align: center;
  color: #005d76;
}

p, li, tr{
  font-size: 1.25rem;
}


.index-text{
    text-align: center;
    color: rgb(255, 255, 255) ;
}

footer{
 
    background-color: rgba(76, 193, 174,0.75);
    color: white;
    padding: 20px;
    opacity:0.8 ;
    margin-top: 250px;
    width: auto;
    font-size: 1rem;
}






  .dropdownbtn{
      font-size: 2rem;
      position: fixed;
      z-index: 11;
      background-color: transparent;
      border: none;
      border-radius: 10px;
      color: #005d76;
      margin-top: -45px;
      cursor: pointer;
  } 
  
  .dropdown{
    position: relative;
    display: inline;
    
  }

  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }

  .dropdown-content a {
    color: white;
    position: relative;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-top: 50px;
  }

  .dropdown-content a:hover {
    color: rgb(76, 193, 174);
  }
  .dropdown:hover .dropdown-content{
    display: block;
    height: 100%;
    background-color: #005d76;
  }

  .dropdown:hover .dropdownbtn{
    color:rgba(76, 193, 174,0.75) ;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
  }

.menu-item1{
  font-size: 2rem;
  padding-left: 5px;
}

.home{
  font-size: 1rem;
  margin-left: 7px;
}

.home-container{
  display: flex;
  flex-direction: row;

}



figure figcaption {
  color: #005d76;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
}


  

@media (orientation: landscape) {

  .landscape{
    visibility: visible;
  }

  .portrait{
    visibility: hidden;
  }


}

@media (orientation: portrait) {
  .landscape{
    visibility: hidden;
  }

  .portrait{
    visibility: visible;
  }

  .portrait .dropdownbtn{
    margin-top: 0;
  }


}

