.Auftrag-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , auto));
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: space-around;
}

.Auftrag{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(76, 193, 174,0.75);
    color: white;
    border-radius: 10px;
    padding-bottom: 20px;
}

.Phase{
    font-size: 1.2rem;
}

.Projekt{
    text-align: center;
    background-color: rgba(76, 193, 174,0.75);
    color: white;
    border-radius: 10px;
    padding-bottom: 20px;
}

h3{
    padding-top: 30px;
}
